<html>
    <head>
        <title>pyjourn - Add Product</title>
    </head>
    <body>
        <h1>pyjourn - Add Product</h1>
        <nav>
            <ul>
                <li><a href="/products/new">Add Product</a></li>
            </ul>
        </nav>
        <form method="POST" action="/products/new">
            <input name="product" id="product_id" placeholder="Add Product"/>
            {% csrf_token %}
            <select id="selected_brand" name="brands">
                <option value="adidas">Adidas</option>
            </select>
        </form>
    </body>
</html>