<html>
    <head>
        <title>pyjourn</title>
    </head>
    <body>
        <h1>pyjourn</h1>
        <nav>
            <ul>
                <li><a href="/products/new">Add Product</a></li>
            </ul>
        </nav>
        <form method="GET" action="/search/">
            <input name="q" id="search" placeholder="Search for products or brands..."/>
            {% csrf_token %}
        </form>
        <ul id="fme_layered_container">
            {%  for p in products %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
    </body>
</html>